


  <table class="table table-striped">
    <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%=@registration.name %></td>
    </tr>

    <tr>
      <th scope="row">Email</th>
      <td><%=@registration.email %></td>
    </tr>

    </tbody>
  </table>
