

<%@registrations.each do |registration| %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%=registration.name %></td>
    </tr>

    <tr>
      <th scope="row">Description</th>
      <td><%=registration.email %></td>
    </tr>

    </tbody>
  </table>
